@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.container{
  max-width: 90%;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
  /* make it three column */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

}
.container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  
}
.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
select{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #9b59b6;
}
 form .gender-details .gender-title{
  font-size: 20px;
  font-weight: 500;
 }
 form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three{
   background: #9b59b6;
   border-color: #d9d9d9;
 }
 
 
 form .button{
   height: 45px;
   margin: 35px 0
 }
 form .button input{
   border:2px solid black;
   background-color: white;
   color:black;
   padding: 14px 28px;
   font-size:16px;
   cursor:pointer;
 }
 .Emergency{
  color:red;
  margin-right:20px
 }
 .High{
  color:red;
  Margin-right:20px
 }
 .Medium{
  color:orange;
  margin-right: 20px;
 }
 .Low{
  color:green
 
 }
 .hint{
  font-size: 0.8em;
  color:#800;
 }
 label,textarea{
  font-size:0.8rem;
  letter-spacing:1px
 }
 textarea{
  padding:10px;
  max-width:100%;
  line-height:1.5;
  border-radius:5px;
  border:1px solid black;
  width: 100%;

 }
 label{
  display:block;
  margin-bottom:10px
 }
 input[type=checkbox]{
  vertical-align:middle;
  float: right;
 }
 input[type=button]{
  float:right;
  padding: 5px 30px;
  font-size: 20px;
  width:6%;
  height:50%;
  background:#9b59b6;
 }
 .btn{
  padding:5px 30px;
  background:#9b59b6;
  float:right;
  font-size: 20px;
  margin-right: 10px;
  
 }
 .popup{
  width:400px;
  background: #fff;
  border-radius: 6px;
  position: absolute;
  top: 95%;
  left: 80%;
  transform: translate(-50%,-50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  visibility: hidden;
  transition: transform 0.4s,top 0.4s;
 }
 .open-popup{
  visibility: visible;
  top:95%;
  transform: translate(-50%,-50%) scale(1);
 }
 .popup h4{
  font-size: 38px;
  font-weight: 300;
  margin: 10px 0 10px;
 }
 .popup button{
  width:25%;
  margin-top: 15px;
  padding:10px 0;
  background: #9b59b6;
  border:0;
  outline: none;
  font-size: 18px;
 border-radius: 4px;
cursor:pointer}
 
 form .button input:hover{
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
  }
 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
}
#emergency{
  display: flex;
  flex-direction: row;



}
#emergency>li{
  list-style-type: none;
  margin: 10px;
  font-size: 1.2rem;
  font-weight: 500;
  /* side by side */
  display: flex;
  flex-direction: row;
  
}
#High{
  color:red;
  /* do not show the check box or select  */
  /* display: none; */
  
}
#high{
  color:red;
  /* do not show the check box or select  */
  /* display: none; */
}

#emergency>li>input {
  /* do not show the check box or select  */
  /* display: none; */
}
#emergency>li>#High:checked ~ #h{
  color:red;
  font-size: 20px;
  /* font-weight: 900; */
  border: 1px solid red;
  padding: 10%;
  background-color: rgb(255, 141, 141);
}

#emergency>li>#High:unchecked ~ #h{
  display: none;
}

#Medium{
  color:yellow;
  /* do not show the check box or select  */
  /* display: none; */
  

  
}
#mid{
  color:yellow;
  /* do not show the check box or select  */
  /* display: none; */
}

#emergency>li>input {
  /* do not show the check box or select  */
  display: none;
}
#emergency>li>#Medium:checked ~ #m{
  color:black;
  font-size: 20px;
  /* font-weight: 900; */
  border: 1px solid yellow;
  padding: 10%;
  background-color: rgb(248, 239, 118);
}

#emergency>li>#Medium:unchecked ~ #m{
  display: none;
}

label{

  font-size: 20px;
}


#Low{
  color:green;
  /* do not show the check box or select  */
  /* display: none; */
  

  
}
#low{
  color:green;
  /* do not show the check box or select  */
  /* display: none; */
}

#emergency>li>input {
  /* do not show the check box or select  */
  display: none;
}
#emergency>li>#Low:checked ~ #l{
  color:red;
  font-size: 20px;
  /* font-weight: 900; */

  border: 1px solid purple;
  padding: 10%;
  background-color: rgb(255, 103, 255);
}

#emergency>li>#Low:unchecked ~ #l{
  display: none;

}

label{

  font-size: 20px;
}

#critical{
  float:left;
  margin-top: 8px;
  /* float: none; */
}
#ilabe{
  font-size: 20px;
  font-weight: 500;
  color: black;
  text-decoration: none;
  margin-left: 10px;
}

.fileinp{
  padding: 10px;
  background-color: blueviolet;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  margin-top: 10px;
}
#filelabel{
  float: right;
}
.markcrictical{
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
  color: black;
  text-decoration: none;
}